{
  "extends": ["airbnb", "prettier", "prettier/react"],

  "parser": "babel-eslint",

  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/prop-types": 0,
    "react/destructuring-assignment": 0
  },

  "env": {
    "jest": true
  },

  "globals": {
    "document": true,
    "fetch": true
  }
}
