.wrapper {
  width: 40%;
  position: relative;

  .branch {
    position: absolute;
    top: 30px;
    left: -10px;
    border-radius: 20px;
    background-color: #54555d;
    height: 20px;
    width: 200px;
  }

  .branchTop {
    position: absolute;
    top: 30px;
    left: 140px;
    border-radius: 20px;
    background-color: #54555d;
    height: 60px;
    width: 20px;
  }
}
